
.messageBody {
    text-align: left;
    font-family: 'Whitney Thin';
    color: #dcddde;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.author {
    text-align: left;
    color: white;
}

.avatarContainer {
    padding: 4px;
}

.avatar{
    border-radius: 99999px;
    width: 40px;
    height: 40px;
    display: block;
    box-sizing: border-box;
}

.timestamp {
    display: inline;
    color: #a3a6aa;
    font-size: 12px;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container {
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}
